/*auto*/

$color    : #67B13D;
$oldGreenColor : #67B13D;
$green : #70C1B3;
$orange : #F25F5C;
$grey : #50514F;
$red : #F25F5C;
$blue : #247BA0;
$yellow : #FFE066;

nav {
	text-align: right;
}
nav ul {
	list-style: none;
	background-color: $grey;
	padding: 10px 50px;
}
nav ul li {
	display: inline;
	margin-right: 10px;
}
nav ul li a{
	color: white;
}
nav ul li h5{
	display: inline;
}
nav ul li a:hover {
	color: $yellow;
}
body { 
	padding:0;
	margin:0;
	font:normal 14px Arial;
	color:#656D78;
	background-color: $blue;
	line-height: 20px;
}

.container-background { 
	background-color: white;
}
.container { 
	margin:0 auto;
	max-width: 960px;
	padding: 50px 0 50px 5px;
}

.center { 
	text-align: center;
}

hr { 
	border: 0;
	border-top: 1px solid #E0E0E0;
}

.linkbutton { 
	display: inline-block;
	position: relative;
	padding: 15px 80px;
	color: $color;
	border: 1px solid $color;
	text-decoration: none;
	border-radius: 4px;
}

.linkbutton:hover { 
	color: white;
	background-color: $color;
}

#artists, #art{
	margin: 0 15px;
	text-align: center;
}
#artists form, #art form {
	text-align: left
}
form#editArtist, form#editArt {
	display: none;
}
/*form#editArtist p {
	color: white;
	border-radius: 10px;
}*/
form .row {
	margin: 0 auto;
}
form .btn:hover  {
	cursor: pointer;
	background-color: $blue;
}
/*div#form form div.row > div {
	display: inline;
}*/
#artists form .ro br, #art form .ro br {
	display: none;
}
#artists form input {
	margin-right: 10px;
}
#artists table {
	text-align: left;
	width: 93%;
}
#artists table tr:hover{
	cursor: pointer;
	background-color: $yellow;
}
#artists table tr:nth-child(1):hover{
	cursor: default;
	background-color: white;
}
#artists table td {
	padding: 5px 10px;
}
#artists table th {
	text-decoration: underline;
	padding: 5px 10px;
}
#artists table td.col-3 {
	word-wrap: break-word;
}
#artists a.glyphD {
	position: relative;
	top: -3px;
}
#art label, #artists label {
	max-width: 105px;
}
#art textarea {
	max-width: 90%;
	padding: 10px
}
#artDisplay {
	text-align: left;
}
#art .tile {
	display: inline-block;
	border: 2px solid black;
	height: 314px;
	width: auto;
	max-width: 240px;
	margin: 30px;
}
#art .tile .name {
	border-bottom: solid black 2px;
	text-align: center;
}
#art .tile img {
	width: 100%;
	position: relative;
	top: -8px;
}
#art .tile .desc {
	padding: 5px 10px;
}
#art .tile .price {
	position: relative;
	padding: 10px;
	top: 8px;
	background-color: $green;
	color: $yellow;
	text-align: center;
}
#art .tile .price:hover {
	cursor: pointer;
}
#art .glyphE {
	position: relative;
	top: -38px;
	color: white;
	left: 8px;
}
#art .glyphD {
	position: relative;
	top: -39px;
	left: 180px;
}
.glyphE, .glyphD {
	z-index: 10;
}
.glyphE:hover, .glyphD:hover {
	cursor: pointer;
}




.fa-remove {
	color: $red;
}
footer { 
	color: white;
	text-align: center;
	margin-top: 20px;
}


@media all and (max-width: 550px) {
	#artists form .ro, #art form .ro {
		text-align: center;
	}
	#artists form .ro br, #art form .ro br {
		display: block;
	}
	#artists table td:nth-child(3) {
		word-break: break-all;
	}
}


