/*auto*/

$color    : #67B13D;
$oldGreenColor : #67B13D;
$green : #70C1B3;
$orange : #F25F5C;
$grey : #50514F;
$red : #F25F5C;
$blue : #247BA0;
$yellow : #FFE066;


body { 
	padding:0;
	margin:0;
	font:normal 14px Arial;
	color:#656D78;
	background-color: $blue;
	line-height: 20px;
}

.container-background { 
	background-color: white;
}
.container { 
	margin:0 auto;
	width: 960px;
	padding: 50px 0;
}

.center { 
	text-align: center;
}

hr { 
	border: 0;
	border-top: 1px solid #E0E0E0;
}

.linkbutton { 
	display: inline-block;
	position: relative;
	padding: 15px 80px;
	color: $color;
	border: 1px solid $color;
	text-decoration: none;
	border-radius: 4px;
}

.linkbutton:hover { 
	color: white;
	background-color: $color;
}

#artists, #art{
	margin: 0 30px;
	text-align: center;
}
#artists form, #art form {
	text-align: left
}
form#editArtist, form#editArt {
	display: none;
}
/*form#editArtist p {
	color: white;
	border-radius: 10px;
}*/
form .row {
	margin: 0 auto;
}
form .btn:hover  {
	cursor: pointer;
	background-color: $blue;
}
#artists form input {
	margin-right: 20px;
}
#artists table {
	text-align: left;
	width: 100%;
}
#artists table tr:hover{
	cursor: pointer;
	background-color: $yellow;
}
#artists table tr:nth-child(1):hover{
	cursor: default;
	background-color: white;
}
#artists table td {
	padding: 5px 20px;
}
#artists table th {
	text-align: center;
	text-decoration: underline;
}
#artists table td.col-3 {
	word-wrap: break-word;
}
#artDisplay {
	text-align: left;
}
#art .tile {
	display: inline-block;
	border: 2px solid black;
	height: auto;
	width: auto;
	max-width: 240px;
	margin: 30px;
}
#art .tile .name {
	border-bottom: solid black 2px;
	text-align: center;
}
#art .tile img {
	width: 100%;
	position: relative;
	top: -8px;
}
#art .tile .desc {
	
}
#art .tile .price {
	position: relative;
	padding: 10px;
	top: 8px;
	background-color: $blue;
	color: $yellow;
	text-align: center;
}
#art .tile .price:hover {
	cursor: pointer;
}
#art .glyphE {
	position: relative;
	top: -38px;
	color: white;
	left: 8px;
}
#art .glyphD {
	position: relative;
	top: -39px;
	left: 180px;
}
.glyphE, .glyphD {
	z-index: 10;
}




.fa-remove {
	color: $red;
}
footer { 
	color: white;
	text-align: center;
	margin-top: 20px;
}